<%- include ("partials/Header") -%> 



<form action="/register" method="POST">
    <div class="container page">
      <div class="back">
      <h3 class="des brand">Tkryptogram</h3>
       <p class="des ins">please fill the form below to sign-up</p>
      <div class="form-tab">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Frist Name" required="true">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="lname" placeholder="Last Name" required="true">
                </div>
          <div class="form-group">
         <input type="email" class="form-control" name="username" placeholder="Email" required="true">
           </div>
         <div class="form-group">
         <input type="password" class="form-control" name="password" placeholder="Password" required="true">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Re-enter your password" required="true">
             </div>
          <input type="checkbox" name="" id="" required="true"><br><a href="/Views/Terms">I agree to the terms and conditions</a><br>
         <a href="/Login">Already have an account? Login</a>
          <div class="buttons"><button type="submit" class="btn btn-md sign-butt">Sign Up</button></div>
         
        </div>
      </div>
       </div>
  </form>
<%- include ("partials/Footer") -%> 
